.AppBody{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}
.HeaderDiv{
  flex-grow: 1;

  display:flex;
}
.NavDiv{
  flex-grow: .09;
  background-color: blue;
}
.BodyDiv{
  flex-grow: 3;
  background-color: orange;
}
.headerBodyContainer{
  display: flex;
  flex-direction: row;
  background-color: green;
  flex-grow: 1;
}
.titleHeader{
  background-color: red;
  flex-grow: 3; 
}
.iconDiv{
  flex-grow: .5;
}